%tr
  %td.span2= venue.label
  %td.span3
    = link_to 'Edit', edit_profile_venue_path(venue.id), remote: true, class: 'btn btn-info'
    = link_to profile_venue_path(venue.id), class: 'btn btn-danger', method: 'delete', confirm: 'Are you sure' do
      %i.icon-trash.icon-white
      Delete

