// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#main-navbar {
  .multiple {
    margin: 0;
  }
}

.section-titles  {
 border-bottom: 1px solid #E5E5E5;
 margin-top: 0;
}

#venues_map {
  width: 100%;
  height: 200px;
}
.hidden {
  display:none;
}
